body {
    margin: 0;
}

.title {
    text-align: center;
    color: #F4E808;
    padding-top: 3%;
}

/*Colour of calendar div*/
input[type=email], input[type=number], input[type=search], input[type=text], input[type=tel], input[type=url], input[type=password], textarea, select {
    background-color: #F4E808;
    border: 1px solid #F4E808;
    /*font-size: 3vh;
    height: 5vh;*/
}

/*Colour of selected date in calendar*/
.CalendarDay__selected, .CalendarDay__selected:active, .CalendarDay__selected:hover {
    background-color: #EC7575;
}

/*Contents inside the dropdown*/
#type_of_stats .Select-value {
    background-color: #F4E808;
    color: #EC7575;  /*colour of contents inside dropdown when mouse over it */
    /*font-size: 2.5vh;*/
}

/*div of type of stats (daily/total stats) */
#type_of_stats .Select-multi-value-wrapper {
    /*margin-right: 2%;*/
    width:180px;
    max-width:15%;
    /*height:5vh;*/
}

/*colour of type of stats div*/
#type_of_stats .VirtualizedSelectFocusedOption {
    background-color: #EC7575;
}

.today_btn {
    border-radius: 8px 0px 0px 8px;
    border: 1px solid #F4E808;
    color: #F4E808;
    font-size: medium;
    margin-left: 5%;
    vertical-align: top;
}

.today_btn:hover {
    border-radius: 8px 0px 0px 8px;
    border: 1px solid #EC7575;
    background-color: #EC7575;
}

.today_btn:focus {
    border-radius: 8px 0px 0px 8px;
    border: 1px solid #F4E808;
    background-color: #F4E808;
}


.total_btn {
    border-radius: 0px 8px 8px 0px;
    border: 1px solid #F4E808;
    color: #F4E808;
    font-size: medium;
    vertical-align: top;
}

.total_btn:hover {
    border-radius: 0px 8px 8px 0px;
    border: 1px solid #EC7575;
    background-color: #EC7575;
}

.total_btn:focus {
    border-radius: 0px 8px 8px 0px;
    border: 1px solid #F4E808;
    background-color: #F4E808;
}


/*outline of tab*/
.card {
    background-color: #F4E808;
}

.card-header-tabs {
    margin-left: 0px;
    margin-right: 0px;
}

.tab_style {
    border-radius: 3px;
    border: 0.5px solid;
    font-weight: bold;
}

.daily_stats_thumbnail {
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    width: 16%;
    font-size: 1.5vw;
    display: inline-block;
    margin-right: 2.5%;
    margin-left: 2.5%;
    background-color: #F4E808;
}

.daily_stats_thumbnail_display {
    display: flex;
    align-items: center;
    justify-content: center;
}

.daily_stats_thumbnail_inner_div {
    background-color: white;
    margin: 2%;
    border-radius: 3px;
    font-size: 2vw;
}

.new_stats_thumbnail_inner_div {
    font-size: 1vw;
}

.geo_scatter {
    margin: 3%;
    width: 50%;
    min-width: 350px;
}

#country_name_dropdown .Select-value {
    background-color: #F4E808;
    color: #EC7575;  /*colour of contents inside dropdown when mouse over it */
    /*font-size: 3vh;*/
}

/*div of type of stats (daily/total stats) */
#country_name_dropdown .Select-multi-value-wrapper {
    width:60px;
    max-width:15%;
    /*height:5vh;*/
}

/*colour of type of stats div*/
#country_name_dropdown .VirtualizedSelectFocusedOption {
    background-color: #EC7575;
}

/*colour of div for dropdown if not option is selected*/
.Select-control {
    background-color: #EC7575;
}

.news_main_header {
    color: white;
    text-align: center;
}

.newspaper_thumbnail {
    border: 1px solid white;
    text-align: left;
    font-size: 16px;
    padding: 1px;
    width: 90%;
    background-color: #010310;
    margin-left: auto;
    margin-right: auto;
}

.spinner_bg {
    background-color: #010310 !important;
    z-index: 500 !important;
}

.spinner_dimension {
    width:10rem;
    height: 10rem
}